<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<time type="AccurateUtc" />

	<targets>
		<target name="debug-logfile" xsi:type="File" fileName="${var:ScriptDirectory}/Logs/${date:format=yyyy-MM}.log" layout="${longdate} | ${level} | ${message}" />
		<target name="trace-logfile" xsi:type="File" fileName="${var:ScriptDirectory}/Logs/trace/${date:format=yyyy-MM-dd}.log" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fffffff} | ${level} | ${message}" />
		<target name="errorfile" xsi:type="File" fileName="${var:ScriptDirectory}/Logs/Error.log" layout="${longdate} | ${level} | ${message}" />
		<target name="console" xsi:type="Console" layout="${longdate} | ${level} | ${callsite} | ${message}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="trace-logfile" />
		<logger name="*" minlevel="Debug" writeTo="debug-logfile" />
		<logger name="*" minlevel="Error" writeTo="errorfile" />
	</rules>
</nlog>